---
import '../styles/global.css';
import LanguageSwitcher from "../components/LanguageSwitcher.astro";
import { getRelativeLocaleUrl } from "astro:i18n";

const currentLocale = Astro.currentLocale ?? "pt-br";

interface Props {
lang: string;
title: string;
}

const { lang, title } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<nav class="">
			<a href={getRelativeLocaleUrl(currentLocale, "/blog")}>Blog</a>
			<a href={getRelativeLocaleUrl(currentLocale, "/image-board")}>Image Board</a>
		</nav>
		<slot />
		<footer class="">
			<p>&copy; 2026 Your Company Name. All rights reserved.</p>
			<p>Contact us at: <a href="mailto:support@example.com">support@example.com</a></p>

			<LanguageSwitcher />
		</footer>
	</body>
</html>
